Makefile
Makefile.in
*.o
*.stamp
*.stamp-t
.deps/
.libs/
tags
TAGS

/ABOUT-NLS
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/cscope.files
/depcomp
/install-sh
/libskk-*
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
